body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.headerfooter {
	text-transform: uppercase;
	background: #FFFFFF;
	color: #f55353;
}

.createbody {
	width:50%;
	padding-left:5%;
	padding-bottom:5%;
	padding-top:5%;
	text-transform: uppercase;
	background: #FFFFFF;
}
.input-decorate {
	outline: 0;
	font-family: "Roboto", sans-serif;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.button-decorate {
	font-family: "Roboto", sans-serif;
	outline: 0;
	width: 100%;
	border: 0;
	padding: 15px;
	text-transform: uppercase;
	background: #f55353 !important;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}
.padding-top-8 {
	padding: 8% 0 0 !important;
}